.footer{
	background: -webkit-linear-gradient( #378ACE, #4EB3ED);//背景色にグラデーションを指定
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	@include responsive(tab){
	}
	&__copyright{
		display: none;
		@include responsive(tab){
			display: inline;
			@include font(16);
			color: white;
			font-weight: bold;
		}
	}
	&__box{
		justify-content: space-between;
		align-items: flex-start;
		display: flex;
		margin-top: $spacing-8;
		width: 90%;
		@include responsive(tab){
			display: none;
		}
		&__section{
			width: 20%;
			&__img{
				width: 100px;
				object-fit: contain;
			}
			&__titles{
				margin-bottom: $spacing-4;
				&__title{
					@include font(16);
					color: white;
					font-weight: bold;
					text-decoration: none;
				}
				&__subtitle{
					@include font(12);
					color: white;
				}
			}
		}
	}
}