.hamburger {
	display: none;

	&.active {
		span {
			&:nth-of-type(1) {
				transform: translateY(10.5px) rotate(45deg);
				background-color: white;
			}
			&:nth-of-type(2) {
				opacity: 0;
				background-color: white;
			}
			&:nth-of-type(3) {
				transform: translateY(-10.5px) rotate(-45deg);
				background-color: white;
			}
		}
	}

	@include responsive(pc) {
		display: flex;
		z-index: 109000;
		position: fixed;
		top: 0px;
		cursor: pointer;
		width: 32px;
		height: 40px;
		background-color: white;
		width: 100%;
		height: 60px;
		justify-content: space-between;
		&__left{
			&__img{
				height: 100%;
				object-fit: cover;
			}
		}
		&__right{
			display: flex;
			&__download{
				background: -webkit-linear-gradient(0deg, #378ACE, #4EB3ED ,#4EB3ED);//背景色にグラデーションを指定
				height: 100%;
				width: 150px;
				display: flex;
				align-items: center;
				justify-content: center;
				&__text{
					@include font(12);
					color: white;
					font-weight: bold;
				}
			}
			&__contact{
				height: 100%;
				width: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				&__text{
					@include font(12);
					color: $blue;
					font-weight: bold;
				}
			}
		}

	}


}

.drawerNav {
	display: none;
	width: 100vw;
	height: 100vh;
	font-family: Futura, 'Century Gothic', 游ゴシック体, YuGothic;
	background-color: whtie;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;

	&__list {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		&__item {
			display: inline;
			position: relative;
			margin-bottom: 20px;
			font-family: Futura, 'Century Gothic', 游ゴシック体, YuGothic;
			
			a {
				@include font(24);
				display: block;
				text-decoration: none;
				color: white;

			}
			img {
				width: 0;
				position: absolute;
				left: 0px;
				bottom: -10px;
				transition: .2s;
			}

			&:hover {
				img {
					width: 100%;
				}
			}
		}
	}

	&__sns {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 12%;
		display: flex;
		justify-content: space-around;
		padding: {
			left: 20%;
			right: 20%;
		};
		box-sizing: border-box;
	}
}
