@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  padding: 0 0 0 48px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }
}

.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.header__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.header__content__right__download {
  text-align: left;
  background: -webkit-gradient(linear, left top, right top, from(#2280cc), to(#4eb3ed));
  background: linear-gradient(to right, #2280cc 0%, #4eb3ed 100%);
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  text-decoration: none;
}

.header__content__right__download__title {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  color: white;
  margin-right: 8px;
}

.header__content__right__download__icon {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.header__content__right__contact {
  text-align: left;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  text-decoration: none;
}

.header__content__right__contact__title {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: #45A2E0;
  margin-right: 8px;
}

.header__content__right__contact__icon {
  color: #45A2E0;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.header__content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__left__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 16px;
  margin-right: 24px;
}

.header__content__left__li__text {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: black;
}

.footer {
  background: -webkit-linear-gradient(#378ACE, #4EB3ED);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__copyright {
  display: none;
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    display: inline;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    color: white;
    font-weight: bold;
  }
}

.footer__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  width: 90%;
}

@media screen and (max-width: 800px) {
  .footer__box {
    display: none;
  }
}

.footer__box__section {
  width: 20%;
}

.footer__box__section__img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__box__section__titles {
  margin-bottom: 32px;
}

.footer__box__section__titles__title {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.footer__box__section__titles__subtitle {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  color: white;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 109000;
    position: fixed;
    top: 0px;
    cursor: pointer;
    width: 32px;
    background-color: white;
    width: 100%;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger__left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger__left__img {
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hamburger__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger__right__download {
    background: -webkit-linear-gradient(0deg, #378ACE, #4EB3ED, #4EB3ED);
    height: 100%;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger__right__download__text {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 2.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .hamburger__right__contact {
    height: 100%;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger__right__contact__text {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 2.5rem;
    color: #5DA1DB;
    font-weight: bold;
    text-decoration: none;
  }
}

.drawerNav {
  display: none;
  width: 100vw;
  height: 100vh;
  font-family: Futura, 'Century Gothic', 游ゴシック体, YuGothic;
  background-color: whtie;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10000;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
}

.drawerNav__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drawerNav__list__item {
  display: inline;
  position: relative;
  margin-bottom: 20px;
  font-family: Futura, 'Century Gothic', 游ゴシック体, YuGothic;
}

.drawerNav__list__item a {
  font-size: 2.4rem;
  line-height: 4rem;
  display: block;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .drawerNav__list__item a {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

.drawerNav__list__item img {
  width: 0;
  position: absolute;
  left: 0px;
  bottom: -10px;
  -webkit-transition: .2s;
  transition: .2s;
}

.drawerNav__list__item:hover img {
  width: 100%;
}

.drawerNav__sns {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titles {
  margin-top: 200px;
  margin-bottom: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .titles {
    margin-bottom: 16px;
    margin-top: 64px;
  }
}

@media screen and (max-width: 800px) {
  .titles__bigtitle {
    font-size: 5vw !important;
    letter-spacing: 1vw !important;
  }
}

.titles__title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5.6rem;
  letter-spacing: 0.6rem;
  line-height: 8rem;
  color: #5DA1DB;
  background: -webkit-linear-gradient(0deg, #378ACE, #4EB3ED, #4EB3ED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  .titles__title {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 800px) {
  .titles__title {
    font-size: 8vw;
    line-height: 10vw;
  }
}

.titles__title__impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 120px;
  margin-bottom: -10px;
  line-height: normal;
}

.titles__subtitle {
  font-size: 2.4rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 32px;
  font-weight: bold;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .titles__subtitle {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

@media screen and (max-width: 800px) {
  .titles__subtitle {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    width: 85%;
  }
}

.negative {
  margin-top: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .negative {
    margin-top: 64px;
    margin-bottom: 16px;
  }
}

.negative__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5.6rem;
  letter-spacing: 0.6rem;
  line-height: 8rem;
  color: white;
  background: -webkit-linear-gradient(0deg, #45469F, #6869F5);
  padding: 16px;
}

@media screen and (max-width: 800px) {
  .negative__title {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 800px) {
  .negative__title {
    font-size: 8vw;
    line-height: 10vw;
    text-align: center;
  }
}

.negative__subtitle {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 32px;
  font-weight: 100;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 62.5%;
  font-family: "Arial", sans-serif;
  color: #273242;
  scroll-behavior: smooth;
}

.action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 64px 0;
}

@media screen and (max-width: 800px) {
  .action {
    padding: 16px 0;
    width: 100%;
  }
}

.action__img {
  width: 20%;
  padding: 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .action__img {
    display: none;
  }
}

.action__spimg {
  display: none;
}

@media screen and (max-width: 480px) {
  .action__spimg {
    display: inherit;
    width: 60%;
  }
}

.action__titles {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .action__titles {
    width: 100%;
  }
}

.action__titles__sptitle {
  display: none;
}

@media screen and (max-width: 480px) {
  .action__titles__sptitle {
    display: inline;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 16px;
  }
}

.action__titles__title {
  font-size: 3.2rem;
  letter-spacing: .55rem;
  line-height: 5rem;
  font-weight: bold;
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .action__titles__title {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 480px) {
  .action__titles__title {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 800px) {
  .action__titles__title {
    font-size: 2.4rem;
    line-height: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 800px) and (max-width: 800px) {
  .action__titles__title {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

@media screen and (max-width: 480px) {
  .action__titles__title {
    display: none;
  }
}

.action__titles__subtitle {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .action__titles__subtitle {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

@media screen and (max-width: 800px) {
  .action__titles__subtitle {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    margin-top: 24px;
  }
}

.action__titles__text {
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 100;
  margin-bottom: 48px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .action__titles__text {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

.action__titles__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 60%;
  background-color: #F5AB53;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 10px 0 #FDEBBE;
          box-shadow: 0 10px 10px 0 #FDEBBE;
}

@media screen and (max-width: 480px) {
  .action__titles__download {
    width: 80%;
  }
}

.action__titles__download__title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 800px) {
  .action__titles__download__title {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

.action__titles__download__icon {
  font-size: 2.4rem;
  line-height: 4rem;
  color: #45A2E0;
  margin-left: 16px;
}

@media screen and (max-width: 800px) {
  .action__titles__download__icon {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

@media screen and (max-width: 480px) {
  .action__titles__download__icon {
    display: none;
  }
}

.action__titles__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 60%;
  border: 2px solid #F5AB53;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 10px 0 #FDEBBE;
          box-shadow: 0 10px 10px 0 #FDEBBE;
  background-color: white;
  margin-top: 16px;
}

@media screen and (max-width: 480px) {
  .action__titles__contact {
    width: 80%;
  }
}

.action__titles__contact__title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: bold;
  color: #F5AB53;
}

@media screen and (max-width: 800px) {
  .action__titles__contact__title {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

.action__titles__contact__icon {
  font-size: 2.4rem;
  line-height: 4rem;
  color: #45A2E0;
  margin-left: 16px;
}

@media screen and (max-width: 800px) {
  .action__titles__contact__icon {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: 0.05rem;
  }
}

@media screen and (max-width: 480px) {
  .action__titles__contact__icon {
    display: none;
  }
}

.active-bg {
  background-color: #FFFDDD;
  margin-top: 200px;
}

@media screen and (max-width: 800px) {
  .active-bg {
    margin-bottom: 16px;
  }
}

.top-active-bg {
  background-color: #FFFDDD;
  margin-top: -1px;
}
/*# sourceMappingURL=action.css.map */