@import "common";


$buttonWidth : 60%;
$buttonWidth-sp : 80%;

.action{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	padding: $spacing-8 0;
	@include responsive(tab){
		padding: $spacing-2 0;
		width: 100%;
	}
	&__img{
		width: 20%;
		padding: 1vw;
		box-sizing: border-box;
		@include responsive(sp){
			display: none;
		}
	}
	&__spimg{
		display: none;
		@include responsive(sp){
			display: inherit;
			width: 60%;
		}
	}
	&__titles{
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include responsive(sp){
			width: 100%;
		}
		&__sptitle{
			display: none;
			@include responsive(sp){
				display: inline;
				width: 100%;
				object-fit: cover;
				margin-top: $spacing-2;
			}
		}
		&__title{
			@include font(32);
			font-weight: bold;
			white-space: nowrap;
			@include responsive(tab){
				@include font(24);
				text-align: center;
			}
			@include responsive(sp){
				display: none;
			}
		}
		&__subtitle{
			@include font(24);
			font-weight: bold;
			margin-top: $spacing-6;
			margin-bottom: $spacing-3;
			text-align: center;
			@include responsive(tab){
				@include font(16);
				margin-top: $spacing-3;
			}

		}
		&__text{
			@include font(24);
			font-weight: 100;
			margin-bottom: $spacing-6;
			text-align: center
		}
		&__download{
			display: flex;
			height: 80px;
			width: $buttonWidth;
			border: 2px solid $orange;
			background-color: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			text-decoration: none;
			box-shadow: 0 10px 10px 0 #FDEBBE;
			@include responsive(sp){
				width: $buttonWidth-sp;
			}
			&__title{
				text-align: center;
				@include font(24);
				font-weight: bold;
				color: $orange;
			}
			&__icon{
				@include font(24);
				color: #45A2E0;
				margin-left: $spacing-2;
				@include responsive(sp){
					display: none;
				}
			}
		}
		&__contact{
			display: flex;
			height: 80px;
			width: $buttonWidth;
			background-color: $orange;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			text-decoration: none;
			box-shadow: 0 10px 10px 0 #FDEBBE;
			margin-top: $spacing-2;
			@include responsive(sp){
				width: $buttonWidth-sp;
			}
			&__title{
				text-align: center;
				@include font(24);
				font-weight: bold;
				color: white;
			}
			&__icon{
				@include font(24);
				color: #45A2E0;
				margin-left: $spacing-2;
				@include responsive(sp){
					display: none;
				}
			}
		}
	}
}

.active-bg{
	background-color: $cream;
	margin-top: $spacing-11;
	@include responsive(tab){
		margin-bottom: $spacing-2;

	}
}

.top-active-bg{
	background-color: $cream;
    margin-top: -1px;
}